html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  font-family: "Golos Text", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}
@media (max-width: 375px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

ul {
  list-style: none;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  color: #252930;
  margin-bottom: 40px;
}
@media (max-width: 375px) {
  h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

h3 {
  font-size: 120px;
  font-weight: 500;
  color: red;
}
@media (max-width: 375px) {
  h3 {
    font-size: 40px;
  }
}

a {
  text-decoration: none;
  color: #252930;
}

.header_nav_call_menu,
.implemented_objects_swiper {
  display: none;
}

.first_swiper {
  position: relative;
  height: 740px;
}

input {
  display: none;
}

.header_nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100%;
  padding: 0 32px 0 32px;
  background: rgba(255, 255, 255, 0.6980392157);
}
@media (max-width: 375px) {
  .header_nav {
    background-color: #ffffff;
    padding: 0 16px 0 16px;
    height: 52px;
  }
}
.header_nav .header_nav_list_contact li a {
  color: #464c5a;
  font-weight: 400;
}
.header_nav ul {
  display: flex;
  gap: 20px;
}
.header_nav ul li a {
  color: #252930;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 375px) {
  .header_nav ul {
    display: none;
  }
}
.header_nav .logo {
  width: 186px;
  height: 40px;
}
@media (max-width: 375px) {
  .header_nav .logo {
    width: 149px;
    height: 32px;
  }
}

.header_nav_call_menu {
  width: 104px;
}
@media (max-width: 375px) {
  .header_nav_call_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.header_nav_call_menu .menu input:checked ~ .menu_burger {
  transform: translateY(0);
  transition: 0.7s;
}

.swiper {
  width: 100%;
  height: 740px;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  box-sizing: border-box;
  padding: 440px 0px 32px 32px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title button {
  width: 363px;
  height: 68px;
  border-radius: 44px;
  border: 3px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.swiper-slide .subtitle {
  width: 1055px;
}
.swiper-slide .subtitle h1 {
  font-size: 100px;
  font-weight: 500;
  line-height: 90px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.row_next_prev {
  position: absolute;
  width: 160px;
  height: 80px;
  bottom: 0;
  right: 31px;
}
.row_next_prev .swiper-button-next img {
  width: 80px;
  height: 80px;
}
.row_next_prev .swiper-button-next .swiper-button-prev img {
  width: 80px;
  height: 80px;
}

@media (max-width: 375px) {
  .swiper {
    height: 600px;
  }
  .swiper-slide {
    padding: 436px 0px 16px 16px;
  }
  .swiper-slide .title button {
    width: 190px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #ffffff;
  }
  .swiper-slide .subtitle {
    width: 343px;
  }
  .swiper-slide .subtitle h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
  }
  .first_swiper {
    position: relative;
    height: 680px;
  }
  .row_next_prev {
    right: 20px;
  }
}
.menu_burger {
  z-index: 50;
  position: absolute;
  width: 375px;
  height: 796px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transform: translateY(-1000px);
  transition: 0.7s;
}
.menu_burger .menu_burger_header {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}
.menu_burger .menu_burger_header .logo_burger {
  width: 149px;
  height: 32px;
}
.menu_burger .menu_burger_header_call_close {
  width: 104px;
  height: 52px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu_burger ul {
  display: block;
  margin: 24px 16px 0 16px;
  font-size: 18px;
  color: #252930;
}
.menu_burger ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding-top: 16px;
  border-bottom: 1px solid #cdd2dc;
}
.menu_burger ul li a {
  font-size: 18px;
}
.menu_burger .menu_burger_contact {
  padding-left: 16px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu_burger .menu_burger_contact div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 343px;
  height: 48px;
  background-color: #f1f3f9;
  padding: 0 16px;
}
.menu_burger .menu_burger_contact div a p {
  font-size: 16px;
  font-weight: 400;
}
.menu_burger .menu_burger_footer {
  padding: 0 16px;
  margin-top: 40px;
}
.menu_burger .menu_burger_footer div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}
.menu_burger .menu_burger_footer div a {
  font-size: 18px;
  font-weight: 500;
  color: #9baed5;
}

.activity {
  margin-top: 80px;
}
.activity .activity_inner_box {
  display: flex;
  gap: 20px;
}
@media (max-width: 375px) {
  .activity .activity_inner_box {
    display: block;
  }
}
.activity .activity_inner_box .activity_inner_box1 {
  display: flex;
  gap: 20px;
}
@media (max-width: 375px) {
  .activity .activity_inner_box .activity_inner_box1 {
    display: block;
  }
}
.activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img1 {
  position: relative;
  background: #1c325d;
  width: 710px;
  height: 704px;
  padding-top: 32px;
  padding-left: 32px;
}
@media (max-width: 1440px) {
  .activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img1 {
    width: 518px;
    height: 526px;
  }
}
@media (max-width: 375px) {
  .activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img1 {
    width: 343px;
    height: 346px;
  }
}
.activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img1 .activity_inner_box1_img1 {
  position: absolute;
  width: 100%;
  height: 600px;
  bottom: 0;
  right: 0;
}
@media (max-width: 1440px) {
  .activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img1 .activity_inner_box1_img1 {
    height: 450px;
  }
}
@media (max-width: 375px) {
  .activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img1 .activity_inner_box1_img1 {
    width: 300px;
    height: 300px;
  }
}
.activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img1 p {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}
@media (max-width: 375px) {
  .activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img1 p {
    font-size: 24px;
  }
}
.activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img2 {
  position: relative;
  background: #f1f3f9;
  width: 501px;
  height: 704px;
  padding-top: 32px;
  padding-left: 32px;
}
@media (max-width: 1440px) {
  .activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img2 {
    width: 373px;
    height: 526px;
  }
}
@media (max-width: 375px) {
  .activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img2 {
    width: 343px;
    height: 346px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 20px;
  }
}
.activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img2 .activity_inner_box1_img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
.activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img2 p {
  color: #252930;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 375px) {
  .activity .activity_inner_box .activity_inner_box1 .activity_inner_backbox1_img2 p {
    font-size: 24px;
  }
}
.activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img1 {
  position: relative;
  background: #5b7bbb;
  width: 604px;
  height: 343px;
  padding-top: 32px;
  padding-left: 32px;
  margin-bottom: 20px;
}
@media (max-width: 1440px) {
  .activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img1 {
    width: 445px;
    height: 253px;
  }
}
@media (max-width: 375px) {
  .activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img1 {
    width: 343px;
    height: 240px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 20px;
  }
}
.activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img1 .activity_inner_box2_img1 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
.activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img1 p {
  width: 235px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 375px) {
  .activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img1 p {
    font-size: 24px;
  }
}
.activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img2 {
  position: relative;
  background: #f1f3f9;
  width: 604px;
  height: 344px;
  padding-top: 32px;
  padding-left: 32px;
}
@media (max-width: 1440px) {
  .activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img2 {
    width: 445px;
    height: 253px;
  }
}
@media (max-width: 375px) {
  .activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img2 {
    width: 343px;
    height: 240px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img2 .activity_inner_box2_img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
.activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img2 p {
  width: 231px;
  color: #252930;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 375px) {
  .activity .activity_inner_box .activity_inner_box2 .activity_inner_backbox2_img2 p {
    font-size: 24px;
  }
}

.ruf_profi_this {
  margin-top: 100px;
}
@media (max-width: 375px) {
  .ruf_profi_this {
    margin-bottom: 80px;
  }
}
.ruf_profi_this .ruf_profi_this_inner_box {
  width: 1856px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.ruf_profi_this .ruf_profi_this_inner_box div:hover {
  background: rgb(241, 243, 249);
}
.ruf_profi_this .ruf_profi_this_inner_box h3:hover {
  color: #5b7bbb;
}
@media (max-width: 1440px) {
  .ruf_profi_this .ruf_profi_this_inner_box {
    width: 1376px;
  }
}
@media (max-width: 375px) {
  .ruf_profi_this .ruf_profi_this_inner_box {
    width: 343px;
  }
}
.ruf_profi_this .ruf_profi_this_inner_box div {
  width: 605px;
  height: 300px;
  border: 1px solid #7a869c;
  padding: 32px;
  cursor: pointer;
}
.ruf_profi_this .ruf_profi_this_inner_box div h4 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(37, 41, 48);
  margin-bottom: 12px;
}
@media (max-width: 375px) {
  .ruf_profi_this .ruf_profi_this_inner_box div h4 {
    margin-bottom: 4px;
    font-size: 18px;
  }
}
.ruf_profi_this .ruf_profi_this_inner_box div p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(70, 76, 90);
}
@media (max-width: 375px) {
  .ruf_profi_this .ruf_profi_this_inner_box div p {
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  .ruf_profi_this .ruf_profi_this_inner_box div {
    width: 445px;
  }
}
@media (max-width: 375px) {
  .ruf_profi_this .ruf_profi_this_inner_box div {
    width: 343px;
    height: 148px;
    padding: 16px;
  }
}
.ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map {
  position: relative;
  width: 1856px;
  height: 452px;
  padding: 40px 24px 24px 40px;
  background-image: url(/img/back_map.jpg);
  background-position: right;
  background-repeat: no-repeat;
}
@media (max-width: 1440px) {
  .ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map {
    width: 1376px;
    background-position: -600%;
  }
}
@media (max-width: 375px) {
  .ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map {
    width: 343px;
    height: 821px;
    padding: 16px;
    background-position: left center;
  }
}
.ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map div {
  position: absolute;
  bottom: 24px;
  right: 24px;
  background: #ab413d;
  width: 360px;
  height: 224px;
}
@media (max-width: 375px) {
  .ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map div {
    width: 311px;
    height: 204px;
    padding: 24px;
    bottom: 16px;
    right: 16px;
  }
}
.ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map div p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 16px;
}
@media (max-width: 375px) {
  .ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map div p {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map div img {
    width: 144px;
    height: 40px;
  }
}
.ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map h4 {
  margin-bottom: 28px;
}
@media (max-width: 375px) {
  .ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map h4 {
    font-size: 18px;
  }
}
.ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ruf_profi_this .ruf_profi_this_inner_box .ruf_profi_map ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.implemented_objects {
  margin-top: 100px;
}
@media (max-width: 375px) {
  .implemented_objects {
    margin-top: 80px;
  }
}
.implemented_objects .implemented_objects_inner {
  width: 1856px;
  height: 1602px;
}
.implemented_objects .implemented_objects_inner .btn {
  display: flex;
  justify-content: center;
}
.implemented_objects .implemented_objects_inner .btn button {
  width: 240px;
  height: 56px;
  border: none;
  background: #AB413D;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 40px;
}
@media (max-width: 1440px) {
  .implemented_objects .implemented_objects_inner {
    width: 1376px;
    height: 1714px;
  }
}
.implemented_objects .implemented_objects_inner .implemented_objects_inner_box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.implemented_objects .implemented_objects_inner .implemented_objects_inner_box div {
  width: 605px;
  height: 696px;
  padding: 20px;
  background: #F1F3F9;
}
@media (max-width: 1440px) {
  .implemented_objects .implemented_objects_inner .implemented_objects_inner_box div {
    width: 445px;
    height: 752px;
  }
}
.implemented_objects .implemented_objects_inner .implemented_objects_inner_box div a img {
  width: 565px;
  height: 260px;
}
@media (max-width: 1440px) {
  .implemented_objects .implemented_objects_inner .implemented_objects_inner_box div a img {
    width: 405px;
    height: 260px;
  }
}
.implemented_objects .implemented_objects_inner .implemented_objects_inner_box div a h5 {
  font-size: 20px;
  font-weight: 500;
  color: #252930;
  margin-bottom: 24px;
  margin-top: 24px;
}
.implemented_objects .implemented_objects_inner .implemented_objects_inner_box div a span {
  font-size: 14px;
  font-weight: 400;
  color: #7A869C;
  margin-bottom: 4px;
}
.implemented_objects .implemented_objects_inner .implemented_objects_inner_box div a p {
  font-size: 14px;
  font-weight: 500;
  color: #252930;
  margin-bottom: 16px;
}

.implemented_objects_swiper {
  margin-top: 80px;
}
.implemented_objects_swiper .btn {
  display: flex;
  justify-content: center;
}
.implemented_objects_swiper .btn button {
  width: 240px;
  height: 56px;
  background-color: #AB413D;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
.implemented_objects_swiper .swiper {
  width: 100%;
  height: 550px;
  background-color: #F1F3F9;
}
.implemented_objects_swiper .object_swiper {
  font-size: 18px;
  background: #fff;
  padding: 0;
}
.implemented_objects_swiper .object_swiper div {
  display: block;
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.implemented_objects_swiper .object_swiper div a img {
  width: 100%;
  height: 180px;
}
.implemented_objects_swiper .object_swiper div a h5 {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin: 20px 0 20px 0;
}
.implemented_objects_swiper .object_swiper div a span {
  font-size: 14px;
  font-weight: 500;
  color: #7A869C;
  text-align: left;
  margin-bottom: 4px;
  margin: 0;
}
.implemented_objects_swiper .object_swiper div a p {
  font-size: 14px;
  font-weight: 500;
  color: #252930;
  text-align: left;
}

@media (max-width: 375px) {
  .implemented_objects {
    display: none;
  }
  .implemented_objects_swiper {
    display: block;
  }
}
.licenses_and_certificates {
  margin-top: 100px;
}
@media (max-width: 375px) {
  .licenses_and_certificates {
    margin-top: 80px;
  }
}
.licenses_and_certificates .container .licenses_and_certificates_inner .types_of_licenses {
  display: flex;
  justify-content: space-between;
  width: 1856px;
}
@media (max-width: 1440px) {
  .licenses_and_certificates .container .licenses_and_certificates_inner .types_of_licenses {
    width: 1376px;
  }
}
@media (max-width: 375px) {
  .licenses_and_certificates .container .licenses_and_certificates_inner .types_of_licenses {
    display: block;
  }
}
.licenses_and_certificates .container .licenses_and_certificates_inner .types_of_licenses ul {
  width: 908px;
}
@media (max-width: 1440px) {
  .licenses_and_certificates .container .licenses_and_certificates_inner .types_of_licenses ul {
    width: 680px;
  }
}
@media (max-width: 375px) {
  .licenses_and_certificates .container .licenses_and_certificates_inner .types_of_licenses ul {
    width: 343px;
  }
}
.licenses_and_certificates .container .licenses_and_certificates_inner .types_of_licenses ul li a {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 80px;
  border-top: 1px solid #7A869C;
}
@media (max-width: 375px) {
  .licenses_and_certificates .container .licenses_and_certificates_inner .types_of_licenses ul li a {
    height: 64px;
  }
}

.footer {
  margin-top: 100px;
}

.footer_fon_box {
  background-image: url(/img/footer\ img\ fon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;
}

.footer_inner {
  background-color: #252930;
  padding: 60px 32px 32px 32px;
}
@media (max-width: 375px) {
  .footer_inner {
    position: relative;
    padding: 60px 0px 16px 0px;
  }
}
.footer_inner .footer_inner_top_box {
  display: flex;
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_top_box {
    display: block;
  }
}
.footer_inner .footer_inner_top_box .footer_inner_logo_box {
  width: 385px;
  height: 252px;
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_top_box .footer_inner_logo_box {
    width: 343px;
  }
}
.footer_inner .footer_inner_top_box .footer_inner_logo_box img {
  width: 266px;
  height: 57px;
  margin-bottom: 43px;
}
.footer_inner .footer_inner_top_box .footer_inner_logo_box ul .namber {
  font-size: 30px;
  font-weight: 500;
}
.footer_inner .footer_inner_top_box .footer_inner_logo_box ul li {
  color: #ffffff;
  margin-bottom: 16px;
  font-size: 20px;
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_top_box .footer_inner_logo_box ul li {
    font-size: 16px;
  }
}
.footer_inner .footer_inner_top_box .footer_inner_logo_box ul li a {
  color: #ffffff;
  font-size: 20px;
}
.footer_inner .footer_inner_top_box .footer_inner_center_box {
  width: 446px;
  margin-left: 80px;
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_top_box .footer_inner_center_box {
    margin-left: 0;
    margin-top: 60px;
  }
}
.footer_inner .footer_inner_top_box .footer_inner_center_box ul .li_heder {
  font-weight: 500;
  margin-bottom: 20px;
}
.footer_inner .footer_inner_top_box .footer_inner_center_box ul li {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_top_box .footer_inner_center_box ul li {
    font-size: 16px;
  }
}
.footer_inner .footer_inner_top_box .footer_inner_center_box ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #5b7bbb;
}
.footer_inner .footer_inner_top_box .footer_inner_center_box ul .list_blue {
  margin-top: 40px;
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_top_box .footer_inner_center_box ul .list_blue {
    display: none;
  }
}
.footer_inner .footer_inner_top_box .footer_inner_left_box {
  margin-left: 616px;
  width: 329px;
}
@media (max-width: 1440px) {
  .footer_inner .footer_inner_top_box .footer_inner_left_box {
    margin-left: 136px;
  }
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_top_box .footer_inner_left_box {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.footer_inner .footer_inner_top_box .footer_inner_left_box ul li {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_top_box .footer_inner_left_box ul li {
    font-size: 16px;
  }
}
.footer_inner .footer_inner_top_box .footer_inner_left_box ul .li_heder {
  font-weight: 500;
  margin-bottom: 20px;
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_bottom_box {
    margin-top: 56px;
  }
}
.footer_inner .footer_inner_bottom_box ul {
  display: flex;
  margin-top: 60px;
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_bottom_box ul {
    display: block;
  }
}
.footer_inner .footer_inner_bottom_box ul .second {
  margin-left: 250px;
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_bottom_box ul .second {
    margin-left: 0;
    margin-top: 8px;
  }
}
.footer_inner .footer_inner_bottom_box ul .third {
  margin-left: 820px;
}
@media (max-width: 1440px) {
  .footer_inner .footer_inner_bottom_box ul .third {
    margin-left: 300px;
  }
}
@media (max-width: 375px) {
  .footer_inner .footer_inner_bottom_box ul .third {
    margin-left: 0;
    margin-top: 8px;
  }
}
.footer_inner .footer_inner_bottom_box li {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.list_blue_375 {
  display: none;
  margin-top: 40px;
}
@media (max-width: 375px) {
  .list_blue_375 {
    display: block;
  }
}
.list_blue_375 li a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.list_blue_375 li a span {
  color: #5b7bbb;
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */